apiVersion: v1
kind: Service
metadata:
  name: zookeeper-headless
  namespace: jobbie-backend
spec:
  clusterIP: None
  selector:
    app: zookeeper
  ports:
    - port: 2181
      targetPort: 2181
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: jobbie-backend
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
    - port: 9092
      targetPort: 9092
