apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api-deployment
  namespace: jobbie-backend
  labels:
    app: admin-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-api
  template:
    metadata:
      labels:
        app: admin-api
    spec:
      containers:
        - name: admin-api-container
          image: jobbieregistry/jobbie_adminserviceapi:223
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: admin-service-config
            - secretRef:
                name: admin-service-secret
       imagePullSecrets:
         -name: acr-secret
