apiVersion: v1
kind: Service
metadata:
  name: admin-api
  namespace: jobbie-backend
spec:
  selector:
    app: admin-api
  ports:
    - port: 8080
      targetPort: 8080
      name: http
  type: ClusterIP
