apiVersion: v1
kind: Service
metadata:
  name: listing-service
  namespace: my-microservices
spec:
  selector:
    app: listing-service
  ports:
    - port: 8080
      targetPort: 8080
      name: http
  type: ClusterIP
