version: "3.8"

services:
  adminservice:
    container_name: adminservice
    build:
      context: ./src  # The context directory where your Dockerfile is located
      dockerfile: ./AdminService/Dockerfile
    ports:
      - "5001:8080"  # Map container port 5000 to host port 5001
    environment:
      ConnectionStrings__DefaultConnection: "Server=mysql_db;Database=AdminJobDB;User=Admin;Password=Admin;"
    depends_on:
      Admindb:
        condition: service_healthy

  admingrpcservice:
    container_name: admingrpcservice
    build:
      context: ./src  # The context directory where your Dockerfile is located
      dockerfile: ./AdminGrpcService/Dockerfile
    ports:
      - "5002:8080"  # Map container port 8080 to host port 5002
    environment:
      ConnectionStrings__DefaultConnection: "Server=mysql_db;Database=GrpcAdminJobDB;User=Admin;Password=Admin;"
    depends_on:
      Admindb:
        condition: service_healthy

  Admindb:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Admin
      MYSQL_DATABASE: AdminJobDB
      MYSQL_USER: Admin
      MYSQL_PASSWORD: Admin
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u Admin -pAdmin || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
